block variables
	-
		var data = {
			name: 'Aksi - Профессиональный ИТ-аутсорсинг',
			form: {
				title: 'Получите <span>бесплатную</span> консультацию',
				text: 'Перезвоним через несколько минут и ответим на ваши вопросы',
				name: 'Имя:',
				tel: 'Телефон:',
				btn: 'Отправить',
				checkbox: 'Я принимаю условия Пользовательского соглашения и даю свое согласие на обработку моих персональных данных в соответствии с Политикой конфиденциальности',
			},
			features: [
				{
					items: [
						{
							label: 'Обслуживание и администрирование рабочих мест',
							href: '#'
						},
						{
							label: 'Настройка и обслуживание серверов',
							href: '#'
						},
						{
							label: 'ИТ-аудит',
							href: '#'
						},
					]
				},
				{
					items: [
						{
							label: 'Организация удаленного доступа',
							href: '#'
						},
						{
							label: 'Обслуживание офисной техники',
							href: '#'
						},
						{
							label: 'Администрирование 1С',
							href: '#'
						},
					]
				},
				{
					items: [
						{
							label: 'Защита компьютеров и сетей',
							href: '#'
						},
						{
							label: 'IP-телефония и видеонаблюдение',
							href: '#'
						},
						{
							label: 'Монтаж и настройка wi-fi',
							href: '#'
						},
					]
				},
			],
			block3: {
				copyright: {
					date: '2016 - 2021 © AKSi',
					list: ['Политика конфиденциальности ', 'Пользовательское соглашение']
				},
				nav: ['Компания','Услуги и цены','Блог','Отзывы','Контакты'],
				contact: {
					text: 'Бесплатный аудит',
					telAttr: 'tel:+73513453456',
					telNumber: '+7 (351) 345 34 56',
					whatsapp: 'Пишите в WhatsApp',
				},
			},
		};

footer.footer
	section.footer-top
		.container
			p.footer-top__lead.tac !{data.form.title}
			p.footer-top__text.tac=data.form.text

			form.footer-top__form.footer-form.form(action="#", method="POST")
				label.footer-form__label(aria-label=`${data.form.name}`)
					input.footer-form__input.input(type="text" name="name" placeholder=`${data.form.name}` required)
				label.footer-form__label(aria-label=`${data.form.tel}`)
					input.footer-form__input.input(type="tel" name="phone" placeholder=`${data.form.tel}` required)

				button.button.button--yellow.footer-form__button(type="submit")=data.form.btn

				input.checkbox.visually-hidden(type="checkbox" name="agreement" id="agreement")
				label.custom-checkbox(for="agreement")=data.form.checkbox
		
	section.footer-bottom
		.container
			.footer-bottom__grid
				each menu in data.features
					ul.footer-bottom__list
						if menu.items
							each menuItem in menu.items
								li.footer-bottom__item
									a.footer-bottom__link(href=`$(menuItem.href)`)=menuItem.label

				.footer-bottom__copyright.copyright
					a.logo.footer-bottom__logo(href="#")
						img.logo__img(src="images/dist/aksi/index/header/logo.png", alt="Logo Aksi")
					p.copyright__date=data.block3.copyright.date
					ul.copyright__list 
						each i in data.block3.copyright.list 
							li.copyright__item
								a.copyright__link.link--yellow(href="#")=i

				ul.footer-bottom__nav.footer__nav
					each i in data.block3.nav
						li.footer__nav-item
							a.footer__nav-link(href="#")=i

				.footer-bottom__contact.contact 
					p.contact__text=data.block3.contact.text
					a.contact__tel(href="#" tel=`${data.block3.contact.telAttr}`)=data.block3.contact.telNumber
					a.contact__link(href="#")=data.block3.contact.whatsapp
